<header class='header'>
	<nav class='header__menu menu'>
		<ul class='menu__list'>
			<li class='menu__item'><a class='menu__link' href="/">Home</a></li>
			<li class='menu__item'><a class='menu__link' href="/convicts">Convicts list</a></li>
		</ul>
	</nav>
</header>