
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<title><%= title %></title>
</head>
<body class='main__body'>
	<%- include('sections/header') %>
		<h1 class='main__title'><%= title %></h1>
		<p class='main__text'>You're Welcome to <%= title %></p>
</body>
</html>